/*Selectores*/

* {
  box-sizing: border-box;
}


html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*Clase*/
.etiqueta {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
  background-color: #c4c4c4;
}

/*Selectores*/
header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
}

/*Selector*/
p {
  margin: 0;
  /*Saco los margenes*/
  display: flex;
  justify-content: space-between;
}

/*Clase*/
.divisor {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}

.negrita {
  font-weight: 800;
}

.color {
  color: red;
}

.grande {
  height: 10px;
}

.grande,
.mediano {
  background: black;
  border: 0;
}

.mediano {
  height: 5px;
}

.texto-pequeño {
  font-size: 0.85rem;
}

.info-calorias {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.info-calorias h2 {
  margin: 0;
}

.contenedor-izquierdo p {
  margin: -5px -2px;
  font-size: 2em;
  font-weight: 700;
}

.info-calorias span {
  font-size: 2.4em;
  font-weight: 700;
  margin: -7px -2px;
}

.derecha {
  justify-content: flex-end;
}

.sangria {
  margin-left: 1em;
}

.doble-sangria {
  margin-left: 2em;
}

.valor-diario p:not(.no-divisor) {
  border-bottom: 1px solid #888989;
}

.nota {
  font-size: 0.7rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent: -8px;
}